.homeleft{
    /* background-color: #ffffff; */
    /* width: 100%;*/
    height: 100vh; 
    
    border: 10px solid white;
    border-radius: 10px;
    position: relative;
    
    /* bg */
}
.homeLeft{
    position: absolute;
    top: 0;
    /* background-color: transparent; */
    border-radius: 50px;
    /* width: 100%;*/
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px 20px; */
    padding-bottom: 0;
    /* bg */
}

nav{
    display: flex;
    gap: 150px;
    margin-left: 40px;
    margin-top: 20px;
}

nav h2{
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: white;
}

.copy{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;

    background-color: rgb(235, 237, 239, .4);
    max-width: fit-content;
    border-radius: 50px;

    margin-left: 40px;
}

.copy h2{
    max-width: 100px;
    font-weight: bold;
}

.copy p{
    max-width: 200px;
}

video{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.bottom_container{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.heading_container{
    /* background-color: rgb(139, 139, 139); */
    color: black;
    display: flex;
    flex-direction: column;


    /* padding: 10px 15px; */
}

.heading_container 
div, h1
{
    border-top-right-radius: 20px;
    background-color: white;
    width: 35vw;
    padding: 5px 10px;
    position: relative;
    
    padding: 0 40px;
}


.heading_container > div{
    display: flex;
    align-items: center;
    gap: 10px;
    
    padding: 15px 40px;
}
.heading_container 
div::before
{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: transparent;
    left: 0px;
    top: -25px;
    border-bottom-left-radius: 50%;
    box-shadow: -10px 10px 0 white;
}
.heading_container 
div::after
{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: transparent;
    bottom: 0;
    right: -25px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 white;
}

.heading_container button{
    padding: 5px 10px;

    background-color: transparent;
    border: 2px solid purple;
    border-radius: 50px;
}

.heading_container h1{
    width: 40vw;
    font-size: 75px;
    /* line-height: 55px; */
}

.heading_container h1:nth-child(3){
    width: 50vw;
    font-size: 75px;
    /* line-height: 55px; */
}
.heading_container h1:nth-child(2):after
{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: transparent;
    bottom: 0px;
    right: -25px;
    border-radius: 50%;
    box-shadow: -10px 10px 0 white;
}
.heading_container h1:nth-child(3):after
{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: transparent;
    bottom: 0px;
    right: -25px;
    border-bottom-left-radius: 50%;
    box-shadow: -8px 4px 0 0 white;
}
.tags{
    display: flex;
    /* background-color: black; */
    max-width: 220px;
    flex-wrap: wrap;

}

.tags span{
    margin: 5px 5px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
}